/*Normailziación de estilos*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');



*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*General*/
html{
    font-size: 62.5%; /*por defecto los nvegadores usan 16px*/
    /*Qui queda la fuente en 10px = 62.5%*/
    color: #111111;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    /* font-size: 2em; */
    color:inherit; /*Color heredado*/
    color: inherit;
}
header,
footer{
    color:white;
    font-family: 'Raleway', sans-serif;

}

ul, ol{
    list-style-type: none;
}

 p{
   font-size: 1.8em; /*puede ser 1.8em*/
} 

.container{
    max-width: 1200px;
    margin: 0 auto;
}